* {
	padding: 0; margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Baloo Bhai', sans-serif;
	background: radial-gradient(circle, #21456c, #1e2f40);
	position: relative;
	overflow: hidden;
	cursor: default;
}

.logo {
	font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	font-size: 0;
	white-space: nowrap;
	color: white;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
	text-indent: .014rem;

	height: 1rem;
	width: 1rem;
	vertical-align: top;

	position: absolute;
	top: 50%; left: 50%;
	margin: -0.5rem 0 0 0.5rem;

	transform: rotate(90deg);
	transform-origin: 0 0;

	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 0 0;

	-moz-transform: rotate(90deg);
	-moz-transform-origin: 0 0;
}

.logo > span {
	font-size: 0.7rem;
	display: inline-block;
	position: relative;
}

.mask-top {

}

.brow {
	margin-left: -0.1rem;
}

.eyes {
	margin-left: -0.05rem;
	top: -0.02rem;
}

.mask-mouth {
	margin-left: -0.05rem;
}

.mask-bottom {
	margin-left: -0.1rem;
}


span.mask-knot {
	font-size: 0.45rem;

	transform: rotate(90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(90deg);

	top: .35rem;
	left: -.7rem;
}